
.app{
    width: 600px;
    margin: auto;
    margin-top: 50px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.name{
    width: 200px
}
.adr{
    width: 140px;
}
.phone{
    width: 220px;
}
.my_bold{
    font-weight: bold;
    padding-bottom: 20px;
}